<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Editar Serviço</h4>
</div>
<div class="modal-body">
    <form id="FormEditaServico">
        <div class="form-group">
            <label>Categoria</label>
            <select name="CategoriaServico" class="form-control">
                <option hidden disabled selected value="">Selecione uma opção</option>
            </select>
        </div>
        <div class="form-group">
            <label>Nome</label>
            <input name="NomeServicoEditar" type="text" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Valor Sessão</label>
            <input name="ValorServicoEditar" type="text" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Tempo</label>
            <input name="TempoServicoEditar" type="text" class="form-control" required />
        </div>
        <button class="hidden" name="SalvarAlteracoesServico" type="submit"></button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    <button name="BtnEditaServico" class="btn btn-success">
        <i class="fa fa-check"></i>Salvar
    </button>
</div>

