<link href="~/Css/Site/CategoriaServicos/Index.css" rel="stylesheet" />
<div class="envelope-pesquisa">
    <h3 class="titulopagina">Categoria de Serviços</h3>
    <div class="box-pesquisa">
        <div class="row">
            <div class="col-lg-4">                
                    <button class="btn btn-default btn-i" type="button">
                        <i class="fa fa-plus"></i>Novo Categoria
                    </button>                
            </div>
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar Categoria...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="TabelaCategoria" class="row">
        <table class="table table-striped .table-responsive">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="CorpoTabelaCategoria"></div>
    </div>
</div>
